/* CertificateForm.css */

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  
  input,
  select,
  textarea {
    margin-top: 5px;
    padding: 8px;
    font-size: 14px;
  }
  
  .select-container {
    position: relative;
    width: 100%;
  }
  
  .select-button {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    position: relative;
  }
  
  .select-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 5px rgba(10, 80, 53, 0.1);
    display: none;
    background-color: #05757D;
    border-radius: 5px;
    z-index: 1;
  }
  
  .select-option {
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .select-option:hover {
    background-color: #3498db;
    color: #fff;
  }
  
  .select-options.active {
    display: block;
  }
  
  button {
    background-color: #05757D;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #033b3f;
  }
  