/* DocumentForm.css */
.form-container {
  /* max-width: 100%; Adjusted width */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: #333;
}

/* 
.custom-select {
  position: relative;
  width: 100%;
} */
/* 
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  background: transparent;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s;
}

.select-selected {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  text-align: center;
  border-left: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

.select-items {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: auto;
  top: 100%;
  right: 0;
  left: 0;
  max-height: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

/* .select-items div {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  color: #333;
}

.select-items div:hover {
  background-color: #f2f2f2;
}

.form-button {
  margin-top: 20px;
  text-align: center;
} */

.document-form button {
  padding: 12px 24px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.document-form button:hover {
  background-color: #0056b3;
}
.document-form {
  width: 50rem;
  margin: 2rem auto;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  font-weight: bold;
}

.document-form h2 {
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: bold;
  word-spacing: 2px;
}
.document-form label {
  font-size: 1.3rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.document-form input,
.document-form select,
.document-form textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.2rem;
  letter-spacing: 1px;
  resize: none;
}

.document-form button {
  background-color: #008b96;
  color: #fff;
  border: none;
  padding: 8px 20px;
  font-size: 25px !important;
  cursor: pointer;
  width: 8rem;
  margin-top: 1rem;
  letter-spacing: 2px;
  border-radius: 4px;
}

.document-form button:hover {
  color: white;
  background-color: #00727a;
}
